html{
    background-color: #f5f5dc;
}
h1{
    text-align: center;
    font-family: Helvetica;
    font-style: italic;
    background-color: #b8860b;
    padding: 10px;
    margin-bottom: -2%
}
h3{
    background-color: #f0e68c;
    padding: 15px;

}

li{
    list-style-type: none;
    padding-left: 15px;
    height: 10px
}
.context-header { width:20%; height:20px; padding-bottom: 20px;padding-top: 5px;}
